# develop
.vscode/
typings/
configs/
scripts/
src/
.husky

# test and output
.vscode-test/
test/
out/test/
test-fixture/
.nyc_output/
coverage/

# configs
.gitignore
.vscodeignore
tsconfig.json
tsconfig.test.json
tsconfig.base.json
.nvmrc
.editorconfig
.eslintrc.js
.eslintignore
.prettierrc
yarn.lock
pnpm-lock.yaml

node_modules/
!node_modules/typescript
node_modules/typescript/**/*.d.ts
