# develop
.github
.vscode/
typings/
configs/
scripts/
src/
.husky

# test and output
.vscode-test/
test/
test-workspace/
out/
!out/extension.js
.nyc_output/
coverage/
**/*.js.map
meta.json
stats.html

# configs
.gitignore
.vscodeignore
tsconfig.json
tsconfig.test.json
tsconfig.base.json
.nvmrc
.editorconfig
.eslintrc.js
.eslintignore
.prettierrc
.prettierignore
yarn.lock
pnpm-lock.yaml
.npmrc

images
!images/logo.png
