.app {
    content: '/* 123*/';
    // single line comment
    color: #eab;

    .box {
        // single line comment
        color: /** multiple line comments */ red;
    }
}
// single line comment

.test {
    color: /** multiple line comments */ red;
}

/** multiple line comments */